@import "./../styles/icon.css";

.toast {
  padding: var(--padding) var(--padding) var(--padding) calc(var(--padding) * 2);
  width: 20rem;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border: var(--border);
  filter: var(--drop-shadow);
  border-radius: var(--border-radius);
  background-color: var(--cl-bkg-l2);
}

.toast use {
  pointer-events: none;
}

.toast p {
  flex: 1;
  margin: 0;
}

.toast .message {
  color: var(--color-text);
  margin-top: 0.25rem;
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.close {
  cursor: pointer;
  align-self: flex-start;
}

.info {
  fill: var(--cl-progress);
}

.error {
  fill: var(--cl-invalid);
}

.success {
  fill: var(--cl-valid);
}

.warning {
  fill: var(--cl-danger);
}