<template id="info-toast">
  <div class="toast toast-info">
    <p>This is an info toast.</p>
  </div>
</template>

<template id="error-toast">
  <div class="toast toast-error">
    <p>This is an error toast.</p>
  </div>
</template>

<template id="success-toast">
  <div class="toast toast-success">
    <p>This is a success toast.</p>
  </div>
</template>

<template id="warning-toast">
  <div class="toast toast-warning">
    <p>This is a warning toast.</p>
  </div>
</template>

<div class="toast-container"></div>