@import "./../styles/icon.css";
@import "./../styles/states.css";

:host {
    --indent: 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

:host * {
    box-sizing: border-box;
}

:host > ul {
    overflow: auto;
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: max-content;
    min-width: 100%;
}

li {
    position: relative;
    display: block; /* Change from flex to block */
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
}

li > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--list-padding);
    padding-left: calc(var(--level) * var(--indent));
}

li[aria-busy="true"] {
    cursor: wait;
}

li[aria-busy="true"] .expander {
    display: none;
}

li[has-children="false"] .expander {
    display: none;
}

li[aria-expanded="true"] > .content .expander {
    transform: rotate(90deg);
}

li[aria-selected] > .content {
    background-color: var(--selected-selected-color);
    color: var(--cl-selected);

    border: var(--border);
}

.fill {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expander {
    cursor: pointer;
    transition: transform 0.2s;
}
