a {
	color: var(--cl-anchor-color);
	text-decoration: none;
	transition: color var(--transition);
}

a:hover {
	color: var(--cl-anchor-hover-color);
	text-decoration: underline;
}

a:visited {
	color: var(--cl-anchor-visited-color);
}

a:active {
	color: var(--cl-anchor-active-color);
}
