input {
    background: var(--input-bg);
    color: var(--input-text);
    border: none;
    border-bottom: 2px solid var(--input-border);
    border-radius: 0;
    padding: 0.5rem;
    transition: border-color 0.2s ease-in-out;
}

input:hover {
    border-color: var(--input-hover-border);
}

input:focus {
    border-color: var(--input-focus-border);
    background-color: var(--input-focus-background);
    outline: none; /* Typically remove default outline in favor of custom style */
}

input:valid {
    border-color: var(--input-valid-border);
}
  
input:invalid {
    border-color: var(--input-invalid-border);
    background-color: var(--input-invalid-background);
}
  
label {
    display: grid;
    grid-template-columns: var(--label-width) 1fr;
    font-size: var(--font-size-small);
    font-weight: bold;
    margin-bottom: var(--list-padding);
    color: var(--cl-text);
}

@media (max-width: 768px) {
    label {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
    }
    input {
        width: 100%;
    }
}