[role="toolbar"] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding);
  align-items: center;
  padding: var(--padding);
  margin: 0;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
}