:root {
	--cl-brd: #c5c5c5;
	--cl-bkg-d: #212121;
	--cl-bkg-l: #2f2f2f;
	--cl-bkg-l2: #676767;

	--border: 1px solid var(--cl-brd);
	--border-radius: 0.5rem;
	--padding: 0.5rem;

	--drop-shadow: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.25))
}
