:host {
    --columns: 1fr 1fr;
    --gap: 0.25rem;

    display: grid;
    grid-template-columns: var(--columns);
    gap: var(--gap);
    position: relative;
    user-select: none;
}

::slotted(.resize-handle) {
    width: 0.25rem;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    cursor: ew-resize;
    background-color: var(--cl-brd, #000);
}