<template id="sizes-template">
    <li class="size">
        <div class="size-name"></div>
        <div class="size-value"></div>
        <button data-action="download">Download</button>
    </li>
</template>

<template id="models-template">
    <li class="model-item">
        <div class="model-name"></div>
        <div class="model-size"></div>
        <div class="installed"></div>
    </li>
</template>

<div class="container">
    <div class="models">
        <h2>Settings</h2>
        <div>Filter</div>
        <input type="search" placeholder="Search" />

        <ul class="available"></ul>
        <svg id="btnClose" data-action="closeDialog" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    </div>

    <div class="model">
        <svg id="btnCloseDetails" data-action="closeDetails" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        <div class="model-details">
            <div class="model-name">__model__</div>
            <div class="tools">Supports Tools:</div>
            <a href="" class="url" target=”_blank”></a>
            <ul class="sizes"></ul>
        </div>
    </div>
</div>

<div id="download">
    <h3>Downloading</h3>
    <div class="model-name"></div>
    <div class="status"></div>
    <div class="progress">
        <span class="completed"></span>
        <span> / </span>
        <span class="total"></span>
        <span>GB</span>
    </div>
</div>



