@import "./../styles/buttons.css";

:host {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--padding);
}

button {
    width: 2.5rem;
    height: 2.5rem;
}

::slotted(h2) {
    margin: 0 var(--padding);
    font-size: 1.5rem;
}

::slotted(*) {
    flex: 1;
}

::slotted([slot="prefix"]),
::slotted([slot="suffix"]) {
    flex: 0;
}