@import "./../styles/buttons.css";

:host {
    --margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--padding);
    border-bottom: var(--border);
    margin-bottom: var(--margin-bottom);
}

::slotted(h2) {
    margin: 0 var(--padding);
    font-size: 1.5rem;
}