@import "./../styles/buttons.css";

:host {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--padding);
}

:host(.underline) {
    border-bottom: var(--border);
}

::slotted(h2) {
    margin: 0 var(--padding) !important;
    font-size: 1.5rem;
}

::slotted(*) {
    flex: 1;
}

::slotted([slot="prefix"]),
::slotted([slot="suffix"]) {
    flex: 0;
}