:host {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    cursor: pointer;
    width: fit-content;
    min-width: var(--min-width);
    min-height: 1.5rem;
    align-items: center;
    fill: var(--cl-icon);
}

:host(:hover) {
    background: var(--selected-selected-color);
    color: var(--cl-selected);
    border-radius: var(--menu-border-radius);
}   