:host {
    --menu-item-hover-bg: var(--selected-selected-color);
    --menu-item-hover-fg: var(--cl-selected);

    display: flex;
    flex-direction: row;
    padding: var(--padding);
    cursor: pointer;
    width: fit-content;
    min-width: var(--min-width);
    min-height: 1.5rem;
    align-items: center;
}

:host(:hover) {
    background: var(--menu-item-hover-bg);
    color: var(--menu-item-hover-fg);
    border-radius: var(--menu-border-radius);
}   