@import "../../styles/select.css";
@import "../../styles/buttons.css";
@import "../../styles/switch.css";

:host {
	--width: 400px;
	--height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	width: var(--width);
	height: var(--height);
	translate: -50% -50%;
	background: var(--cl-background-light);
	color: var(--cl-text);
	padding: var(--padding);
	filter: var(--drop-shadow);
	border-radius: var(--border-radius);
}

* {
	box-sizing: border-box;
}

.toolbar {
	margin-top: var(--padding);
	padding: var(--padding);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

label {
	display: block;
	margin-bottom: var(--padding);
	width: 100%;
}

label div {
	margin-bottom: 0.5rem;
}

#btnClose {
	position: absolute;
	top: var(--padding);
	right: var(--padding);
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	fill: var(--cl-text);
}

svg * {
	pointer-events: none;
}

.chat-options {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.chat-options label {
	margin-bottom: 0;
}

textarea {
	display: block;
	width: 100%;
	height: 5rem;
	resize: none;
}