<h2>Settings</h2>

<label>
    <div>Chat Model</div>
    <select id="cbChat" data-store="chatModel">
        <option value="none">Select a model</option>
    </select>
</label>

<label>
    <div>Generate Model</div>
    <select id="cbGenerate" data-store="generateModel">
        <option value="none">Select a model</option>
    </select>
</label>

<label>
    <div>Embedding Model</div>
    <select id="cbEmbedding" data-store="embeddingModel">
        <option value="none">Select a model</option>
    </select>
</label>

<div class="toolbar">
    <button id="btnModels" data-action="models">Models</button>
</div>

<svg id="btnClose" data-action="closeDialog" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
