:host {
	--results-border: var(--border);
	--font: 16px "Arial", sans-serif;
	--outline: 0;
	--button-border: none;

	--cl-icon: silver;
	--cl-text: silver;

	--run-radius: 50% 0 0 50%;
	--cl-run-bkg: var(--cl-bkg-l2);

	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-columns: 1fr;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

button {
	border: var(--button-border);
	padding: var(--padding);
	cursor: pointer;
	background: transparent;
	fill: var(--cl-icon);
}

input {
	border: 0;
	padding: var(--padding);
	font: var(--font);
	background: transparent;
	color: var(--cl-text);
}

input:focus {
	outline: var(--outline);
}

.input {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	background: var(--cl-bkg-l);
	border-radius: 26px;
}

#btnRun {
	background: var(--cl-run-bkg);
	border-radius: var(--run-radius);
}
