@import "./../styles/input.css";

:host {
    --width: 800px;
    --height: 600px;

    position: fixed;
    top: 50%;
    left: 50%;
    width: var(--width);
    height: var(--height);
    translate: -50% -50%;

    background: var(--cl-bkg-l);
    color: var(--cl-text);
    padding: var(--padding);
    filter: var(--drop-shadow);
    border-radius: var(--border-radius);
}

* {
    box-sizing: border-box;
}

h3 {
    margin-top: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.models, .model {
    padding: var(--padding);
    overflow: hidden;
}

.models {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, auto)) 1fr;
    grid-gap: var(--padding);
}

.model-details {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    grid-gap: var(--padding);
}

.model .model-name {
    padding: var(--padding) 0;
    font-weight: bold;
    font-size: 1.5rem;
}

ul {
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: var(--padding);
    cursor: pointer;
    position: relative;
}

li:nth-child(odd) {
    background: var(--cl-bkg-l2);
}

[data-installed="true"]:after {
    content: '✔';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    margin-left: var(--padding);
    margin-top: 0.2rem;
}

.size {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}

.size .size-name {
    flex: 1;
}

.model-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.model-item * {
    pointer-events: none;
}

.model-item .model-name {
    flex: 1;
}

.model-item .installed {
    width: 2rem;
    height: 2rem;
}

[hidden] {
    display: none;
}

a {
    color: var(--cl-text);
    text-decoration: none;
    cursor: pointer;
}

button[data-action] {
    width: 4.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button[data-action="delete"] {
    background: var(--cl-danger);
    color: whitesmoke;
}

button[data-action="download"] {
    background: var(--cl-progress);
    color: whitesmoke;
}

div#download {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 200px;
    background: var(--cl-bkg-l);
    color: var(--cl-text);
    padding: var(--padding);
    filter: var(--drop-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#download h3 {
    margin: 1rem;
}

.progress {
    margin: 1rem;
    font-size: 1.5rem;
}