<div class="container">
    <div class="models">
        <h3>Models</h3>
        <div>Filter</div>
        <input type="text" placeholder="Search" />

        <ul class="available"></ul>
    </div>

    <div class="model">
        <h3>Details</h3>
        <div>
            <span>Model</span>
            <span class="model-name">__model__</span>
            <span>Tools</span>
        </div>
        <ul class="versions"></ul>

        <div class="toolbar">
            <button id="btnInstall">Install</button>
            <button id="btnDelete">Delete</button>
        </div>
    </div>
</div>


