@import "./../styles/input.css";

:host {
    --width: 800px;
    --height: 600px;

    position: fixed;
    top: 50%;
    left: 50%;
    width: var(--width);
    height: var(--height);
    translate: -50% -50%;

    background: var(--cl-bkg-l);
    color: var(--cl-text);
    padding: var(--padding);
    filter: var(--drop-shadow);
    border-radius: var(--border-radius);
}

* {
    box-sizing: border-box;
}

h3 {
    margin-top: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.models, .model {
    padding: var(--padding);
    overflow: hidden;
}

.models {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, auto)) 1fr;
    grid-gap: var(--padding);
}

ul {
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: var(--padding);
    cursor: pointer;
    position: relative;
}

li:nth-child(odd) {
    background: var(--cl-bkg-l2);
}

li.installed:after {
    content: '✔';
    position: absolute;
    right: 1rem;
    color: white;
    margin-left: var(--padding);
}

.size {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}

.size .size-name {
    flex: 1;
}

.model-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.model-item * {
    pointer-events: none;
}

.model-item .model-name {
    flex: 1;
}

.model-item .installed {
    width: 2rem;
    height: 2rem;
}