<template id="sizes-template">
    <li class="size">
        <div class="size-name"></div>
        <div class="size-value"></div>
        <button>Download</button>
    </li>
</template>
<div class="container">
    <div class="models">
        <h3>Models</h3>
        <div>Filter</div>
        <input type="text" placeholder="Search" />

        <ul class="available"></ul>
    </div>

    <div class="model">
        <h3>Details</h3>
        <div>
            <div>Model</div>
            <div class="model-name">__model__</div>
            <div class="tools">Tools</div>
        </div>
        <a href="" class="url" target=”_blank”></a>
        <ul class="sizes"></ul>

        <div class="toolbar">
            <button id="btnDelete">Delete</button>
        </div>
    </div>
</div>


