<h2>Ollama is not active</h2>

<p>
    Ollama is not currently active on your machine.
    If Ollama is installed on your machine, please run it and try again.
    You can use the run command using any of the desired models in the terminal.
</p>

<p>
    For example: "ollama run llama3.2"
</p>

<a href="https://ollama.com/library/llama3.2" target="_blank">https://ollama.com/library/llama3.2</a>

<p>
    If Ollama is not installed, please download and install it.
</p>

<a href="https://ollama.com/" target="_blank" class="margin-bottom">Download Ollama</a>