:host {
    --cl-suppressed: gray;
    --tabs-padding: 0 0.5rem;
    display: flex;
}

.tab-sheet {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid var(--cl-border);
    padding: var(--tabs-padding);
}

.content {
    flex: 1;
    padding: var(--padding);
}

:host(.bottom) .tab-sheet {
    flex-direction: column-reverse;
}

:host(.right) .tab-sheet {
    flex-direction: row-reverse;
}

:host(.left) .tab-sheet {
    flex-direction: row;
}

:host(.right) .header, :host(.left) .header {
    flex-direction: column;
}

::slotted([aria-hidden]) {
    display: none;
}

.header ::slotted(*) {
    margin: 0;
    padding: var(--padding, 0.5rem);
    cursor: pointer;
    color: var(--cl-suppressed);
}

/* Add styles for the selected slotted items */
.header ::slotted([aria-selected="true"]) {
    color: var(--cl-focused);
    border-bottom: 2px solid var(--cl-focused);
}