:host {
    display: block;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
}

.rotate {
    animation: rotate 2s linear infinite;
    fill: var(--cl-progress);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.success {
    fill: var(--cl-valid);
}

.error {
    fill: var(--cl-invalid);
}

.warning {
    fill: var(--cl-danger);
}

