:host {
    position: relative;
}

::slotted(menu-container) {
    position: absolute;
    top: 0;
    left: 100%;
    display: none !important;
}

::slotted(menu-container.visible) {
    display: block !important;
}