:host {
    --menu-bg: #fff;
    --menu-item-hover-bg: #eee;
    --menu-border-radius: 0.25rem;
    --min-width: 10rem;

    display: flex;
    flex-direction: column;
    width: fit-content;

    padding: var(--padding);
    background: var(--menu-bg);
    border-radius: var(--menu-border-radius);
    border: var(--border);
    filter: var(--drop-shadow);
    user-select: none;
    min-width: var(--min-width);
}

::slotted(.menu-item) {
    padding: 8px 16px;
    cursor: pointer;
}

::slotted(.menu-item:hover) {
    background: var(--menu-item-hover-bg);
}
