:host {
    --menu-bg: var(--cl-bkg-l);
    --menu-item-hover-bg: var(--cl-bkg-l2);
    --menu-border-radius: var(--border-radius);
    --min-width: 10rem;

    display: flex;
    flex-direction: column;
    width: fit-content;

    padding: var(--padding);
    background: var(--menu-bg);
    border-radius: var(--menu-border-radius);
    border: var(--border);
    user-select: none;
    min-width: var(--min-width);
}

::slotted(.shadow) {
    filter: var(--drop-shadow);
}

::slotted(.menu-item) {
    padding: 8px 16px;
    cursor: pointer;
}

::slotted(.menu-item:hover) {
    background: var(--menu-item-hover-bg);
}